[submodule "actionformer"]
	path = actionformer
	url = https://github.com/rohithpeddi/actionformer_release.git
[submodule "captaincook"]
	path = captaincook
	url = https://github.com/CaptainCook4D/annotations.git
